.item {
  flex: 0 0 20.7vw;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;

  img {
    height: 100%;
    width:70%;
    vertical-align: top;
    border-radius: 1ch;
  }
}
