@import '../Variables.scss';

.contactMe {
    background-color: $Dark-color;
    display: flex;
    text-align: center;
    width: 90vw;
    margin-left: 8vw;
    height: 70vw;
}

.containerPage {
    margin: 0;
    text-align: center;
    align-items: center;
    align-content: center;
}

.contactButtonsContainer {
    width: 100%;
}

.contactButtons {
    margin: 0 5vw 0;
    font-size: 10vw;
}

.title_looking {
    margin-top: 5vh;
    padding-bottom: 3vh;
    text-align: center;
}
