@import '../Variables.scss';

.contactMe {
    background-color: $Dark-color;
    display: flex;
    text-align: center;
    width: 100vw;
    height: 70vw;
}

.containerPage {
    margin: 0;
    text-align: center;
    align-items: center;
    align-content: center;
}

.contactButtonsContainer {
    width: 100%;
}

.contactButtons {
    margin: 0 5vw 0;
    font-size: 10vw;
}

.title_looking {
    margin-top: 5vh;
    padding-bottom: 3vh;
    text-align: center;
}

.profilePic {
    width: 38%;
    display: inline-block;
    vertical-align: top;
    padding-top: 4vh;
    padding-right: 5vh;
}

.paragraph {
    width: 50%;
    display: inline-block;

    font-size: 2vw;
    color: $B1-color;
    text-align: right;
}

.containerPadding1 {
    margin: 0;
    padding: 0;
    width: 95vw;
}

.containerPadding2 {
    margin: 0;
    padding: 0;
    width: 100vw;
    padding-left: 4vw;
}