//---Variables---
$Dark-color: #14081F;
$BGDark-color: #1A0E25;
$BGLight-color: #29103F;
$B1-color: #7554A3;
$B2-color: #99DE1E;
$highlight-color: #E9E2F5;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&family=Roboto+Slab&display=swap');