@import './Variables.scss';

//---Classes---
.portafolio{
    background-color: $Dark-color;
    display: flex;
    text-align: center;
    height: 100vw;
    margin-left: 35px;
    justify-content: center;
    padding-bottom: 10%;
}

.title {
    margin-bottom: 0;
    color: $highlight-color;

    font: {
        size: 8vw;
        family: 'Roboto Serif', serif;
        weight: bold;
    }
}

.text {
    color: $B1-color;

    font: {
        family: 'Roboto Slab', serif;
        weight: normal;
        size: 3.5vw;
    }
}


.barFrame {
    background-color: grey;
    justify-content: left;
    margin-left: 30px;
    padding: 0px;
    width: 90%;
    border-radius: 25px;
}

.barValue {
    background-color: #D5DCE6;
    border-radius: 25px;
}

.center {
    text-align: center;
    align-items: center;
}

.aling-Left {
    text-align: left;
    align-items: left;
}

.footer {
    margin-bottom: 100px;
}