//----Imports----
@import '../Variables.scss';
@import './Home_LowerPart.scss';

//----Classes----
.home {
    background-color: $BGLight-color;
    display: grid;
    place-items: center;
    text-align: center;
    height: auto;
    justify-content: center;
}

@mixin dragon() {
    margin: 0 2vw 0;
    width: 7vw;
}

.dragon-right {
    @include dragon();
}

.dragon-left {
    @include dragon();
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
