.home,
.portafolio,
.aboutMe {
  background-color: #151926;
  display: flex;
  text-align: center;
  height:1500px;
  margin-left:35px;
  align-items: center;
  justify-content: center;
}
.title{
    font-size: 80px;
    color: #d5dce6;
}
.subTitle{
    font-size: 2.5rem;
    color: #d5dce6;
}
.paragraph{
    font-size: 1.4rem;
    text-align: center;
    color: #d5dce6;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}