.home,
.portafolio,
.aboutMe {
  background-color: #1a1a2e;
  display: flex;
  text-align: center;
  height:1500px;
  margin-left:35px;
  justify-content: center;
}
.banner{
    font-size: 60px;
    color: #99CAFF;
    font-weight: bolder;
}
.title{
    margin-top: -10px;
    font-size: 2.5rem;
    color: #BBEEF1;
    font-style: italic;
}
.subtitle{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #738AAB;
}
.paragraph{
    font-size: 1.4rem;
    text-align: center;
    color: #d5dce6;
}
.content{
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

.barFrame{
    background-color: grey;
    justify-content: left;
    margin-left: 30px;
    padding: 0px;
    width: 90%;
    border-radius:25px;
}
.barValue{
    background-color: #D5DCE6; 
    border-radius:25px;
}
.center{
    text-align: center;
    align-items: center;
}
.aling-Left{
    text-align: left;
    align-items: left;
}