@import '../Variables.scss';

.aboutMe {
    background-color: $Dark-color;
    width: 95vw;
    height: 230vw;
}

.containerPadding1 {
    margin: 0;
    padding: 0;
    width: 95vw;
}

.title_story {
    margin-top: 2vh;
    padding-bottom: 3vh;
    text-align: right;
}

.containerPadding2 {
    margin: 0;
    padding: 0;
    width: 100vw;
    padding-left: 4vw;
    display: inline-flex;
}

.imageContainer {
    display: grid;
    place-items: center;
    margin-top: -10vh;
    padding: 0;
    flex: 1;
}

.profilePic {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
}

.paragraphStory {
    width: 50%;
    margin-right: 2vw;
    margin-top: 10vh;
    display: inline-block;

    font-size: 2vw;
    color: $B1-color;
    text-align: right;
}

.titleParagraphStory {
    color: $B2-color;
}

.singleParagraphStory {

    font-size: 2vw;
    color: $B1-color;
    text-align: right;
}