@import '../Variables.scss';

.portafolio {
    background-color: $Dark-color;
    display: flex;
    text-align: center;
    height: 200%;
    margin-left: 2vw;
    justify-content: center;
    padding-bottom: 10%;
}
